@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

label {
	width: 200px;
	display: inline-block;
}
.modal-input, .modal-textarea {
	padding-left: 5px;
	padding-right: 5px;
	width: 250px;
}
.buttonContainer {
	text-align: center;
}
/* DASHBOARD */
.dbBody {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #D7B19D;
}
.dbContainer {
	position: relative;
	width: 100%;
}
.dbSidebar {
	position: fixed;
	width: 300px;
	height: 100%;
	background: #402218;
	transition: 0.5s;
	overflow: hidden;
}
.dbSidebar.active {
	width: 60px;
}
.dbSelectedSidebar a {
	background: #D7B19D;
	color: #402218;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.dbNotSelectedSidebar a {
	color: #D7B19D;
}
.dbSidebar ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.dbSidebar ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.dbSidebar ul li:hover {
	background: #D7B19D;
}
.dbSidebar ul li:nth-child(1) {
	margin-bottom: 40px;
	pointer-events: none;
}
.dbSidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
}
.dbSidebar ul li:hover a {
	color: #402218;
}
.dbSidebar ul li a .dbSidebarIcon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 75px;
	text-align: center;
}
.dbSidebar ul li a .dbSidebarIcon i {
	font-size: 1.75em;
}
.dbSidebar ul li a .dbMenu {
	 position: relative;
	 display: block;
	 padding: 0 10px;
	 height: 60px;
	 line-height: 60px;
	 text-align: start;
	 white-space: nowrap;
}
/* DASHBOARD MAIN */
.dbMain {
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: #D7B19D;
	transition: 0.5s;
}
.dbMain.active {
	width: calc(100% - 60px);
	left: 60px;
}
.dbTopbar {
	background: #865439;
	color: #D7B19D;
	display: grid;
	grid-template-columns: 0.1fr 1fr 1fr;
	grid-template-areas: "dbToggleArea dbGreeting dbProfile";
}
.dbToggleArea {
	grid-area: dbToggleArea;
}
.dbToggle {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;	
}
.dbGreeting {
	grid-area: dbGreeting;
	display: flex;
    justify-content: left;
    align-items: center;
}
.dbProfile {
	grid-area: dbProfile;
	text-align: right;
}
[class$="Button"] {
	display: inline-block;
	padding: 10px 10px;
	width: 150px;
	text-align: center;
	border: 1px solid #402218;
	border-radius: 10px;
	transition: all 0.2s;
	background-color: #402218;
	color: #D7B19D;
}
[class$="Button"]:hover {
	background-color:#6F3B2A;
	color:#D7B19D;
}
.dbProfileButton {
	margin-top: 10px;
}
.dbAddButton {
	margin: 25px 0px 0px 25px;
}
.dbInfos {
	grid-area: dbUserListTable;
}

@media only screen and (max-width: 780px) {
	.dbTopbar {
		grid-template-columns: 1fr;
		grid-template-areas:
			"dbToggleArea"
			"dbGreeting"
			"dbProfile";
	}
	.dbGreeting {
    	justify-content: center;
	}
	.dbTopbar .dbProfile {
		top: 100%;
		left: 0;
		right: 0;
	}
	.dbTopbar .dbProfile ul li {
		width: 100%;
	}
	.dbTopbar .dbProfile ul li ul{
		position: relative;
		width: 100%;
	}
	.dbProfileButton {		
  		margin-top: 0px;
	}
	.dbAddUserButton {
  		margin: 0px 0px 0px 0px;
	}
	.dbProfileButton, .dbAddUserButton {
		display: block;
  		width: 100%;
  		border-radius: 0px;
  		border: 1px solid #D7B19D;
	}
	
	.modal-input, .modal-textarea {
		width: 100%;
	}
	.dbModalButton {
		width: 100%;
	}
}
