@charset "UTF-8";


/* LOGIN PAGE */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: url('../images/backgroundFP.jpg') no-repeat;
	background-size: 100%;
	background-size: cover;
}

.loginMain {
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginContainer {
	max-width: 450px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.loginSeparator {
	width: 300px;
	height: 4px;
	background-color: #9F8772;
	margin-bottom: 10px;
}
.loginTitle {
	font-size: 3em;
	font-weight: bold;
	color: #00ace6;
	font-family: 'Pacifico', cursive;
	text-shadow: 1px 1px #808080;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.loginText {
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
	color: #594545;
}
.loginForm {
	width: 100%;
	display: flex;
	flex-direction: column;	
	align-items: center;
}
.formControl {
	width: 100%;
	position: relative;
	margin-bottom: 15px;	
}

.loginInput, .loginBtn, .loginOrder {
	border-radius: 30px;
	font-size: 1.1em;
}
.loginInput {
	width: 100%;
	border: solid 1px;
	background: #E6E6E6;
	color: #333;
	letter-spacing: 0.5px;
	padding: 14px 64px;
}
.loginInput ~ i {
	position: absolute;
	top: 25%;
	left: 45px;
	transform: translate(-50%);
	color: #888;
	transition: color 0.4s;
	font-size: 1.5em;
}
.loginInput:focus ~ i {
	color: #843BC7;
}
.loginBtn, .loginOrder {
	color: #FFF;
	padding: 14px 64px;
	margin: 15px auto;
	outline: none;
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	background-image: linear-gradient(to right, #594545, #9E7676);
	cursor: pointer;
}

.loginBtn:hover, .loginOrder:hover {
	opacity: 0.9;
}

.loginForgotPw {
	text-align: center;
	font-size: 1em;
}
@media (max-width: 780px) {
	.loginBody {
		display: flex;
		justify-content: center;
		align-items:center;		
	}
	.loginSide {
		display: none
	}
}

/* DASHBOARD */
.dbBody {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: #D7B19D;
}
.dbContainer {
	position: relative;
	width: 100%;
}
.dbSidebar {
	position: fixed;
	width: 300px;
	height: 100%;
	background: #402218;
	transition: 0.5s;
	overflow: hidden;
}
.dbSidebar.active {
	width: 60px;
}
.dbSidebar ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.dbSidebar ul li {
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.dbSidebar ul li:hover,
.dbSidebar ul li.hovered {
	background: #D7B19D;
}
.dbSidebar ul li:nth-child(1) {
	margin-bottom: 40px;
	pointer-events: none;
}
.dbSidebar ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #D7B19D;
}
.dbSidebar ul li:hover a,
.dbSidebar ul li.hovered a {
	color: #402218;
}
.dbSidebar ul li a .dbSidebarIcon {
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 75px;
	text-align: center;
}
.dbSidebar ul li a .dbSidebarIcon ion-icon {
	font-size: 1.75em;
}
.dbSidebar ul li a .dbMenu {
	 position: relative;
	 display: block;
	 padding: 0 10px;
	 height: 60px;
	 line-height: 60px;
	 text-align: start;
	 white-space: nowrap;
}
.dbSidebar ul li:hover a::before,
.dbSidebar ul li.hovered a::before {
	content:'';
	position: absolute;
	right:0;
	top: -50px;
	width: 50px;
	height: 50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px #D7B19D;
	pointer-events: none;
}
.dbSidebar ul li:hover a::after,
.dbSidebar ul li.hovered a::after {
	content:'';
	position: absolute;
	right:0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background:transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px #D7B19D;
	pointer-events: none;
}

/* DASHBOARD MAIN */
.dbMain {
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: #D7B19D;
	transition: 0.5s;
}
.dbMain.active {
	width: calc(100% - 60px);
	left: 60px;
}
.dbTopbar {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.dbToggle {
	position: relative;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}
.dbEditProfileBtn, .dbLogoutBtn {
	position: relative;
	padding: 10px 5px;
	margin: 15px auto;
	width: 150px;
	outline: none;
	border: none;
	border-radius: 30px;
	font-weight: bold;
	color: #D7B19D;
	cursor: pointer;
	background-color: #402218;
	letter-spacing: 2px;
}

.dbUserListTable {
	position: relative;
}
