<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FinalProject</display-name>
  
  <servlet>	
  	<servlet-name>actioncontroller</servlet-name>
  	<servlet-class>ph.com.cpi.controller.ActionController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>actioncontroller</servlet-name>
  	<url-pattern>/actioncontroller</url-pattern>
  </servlet-mapping>
   
  <servlet>	
  	<servlet-name>checksessioncontroller</servlet-name>
  	<servlet-class>ph.com.cpi.controller.CheckSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>checksessioncontroller</servlet-name>
  	<url-pattern>/checksessioncontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>	
  	<servlet-name>ordercontroller</servlet-name>
  	<servlet-class>ph.com.cpi.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ordercontroller</servlet-name>
  	<url-pattern>/ordercontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>	
  	<servlet-name>productcontroller</servlet-name>
  	<servlet-class>ph.com.cpi.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>productcontroller</servlet-name>
  	<url-pattern>/productcontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>	
  	<servlet-name>userlistcontroller</servlet-name>
  	<servlet-class>ph.com.cpi.controller.UserListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userlistcontroller</servlet-name>
  	<url-pattern>/userlistcontroller</url-pattern>
  </servlet-mapping>
  
  <servlet>	
  	<servlet-name>logincontroller</servlet-name>
  	<servlet-class>ph.com.cpi.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logincontroller</servlet-name>
  	<url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
</web-app>